<h1 style="font-weight: 700; font-size: 55px; margin-top: 200px; margin-left: 100px;">Projects</h1>
<div style="height: 700px;">
    <div class="cen d-flex justify-content-center align-items-center">
        <div class="cont">
            <div class="card" style="width: 24rem; margin-top: 50px; margin-left: 50px;">
                <img src="../../assets/Coming.png" class="card-img-top" alt="../../assets/backhome.jpg'">
                <div class="card-body">
                </div>
            </div>
            <div class="card" style="width: 24rem; margin-top: 50px; margin-left: 50px;">
                <img src="../../assets/Coming.png" class="card-img-top" alt="../../assets/backhome.jpg'">
                <div class="card-body">
                </div>
            </div>
            <div class="card" style="width: 24rem; margin-top: 50px; margin-left: 50px;">
                <img src="../../assets/Coming.png" class="card-img-top" alt="../../assets/backhome.jpg'">
                <div class="card-body">
                </div>
            </div>
            
        </div>
    </div>
</div>